DATABASE_URL=postgresql://opanel:opanel@localhost:5432/opanel
# Required. Must be at least 32 characters. Generate with: openssl rand -base64 48
JWT_SECRET=
SERVERS_BASE_PATH=../servers
FLEETPANEL_PLUGIN_JAR_PATH=
NEXT_TELEMETRY_DISABLED=1
